annotated-types
anyio
certifi
click
dnspython
email-validator
exceptiongroup
fastapi
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
orjson
pandas
pydantic
pydantic-core
pydantic-extra-types
pydantic-settings
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing-extensions
tzdata
ujson
uvicorn
uvloop
watchfiles
websockets
